<footer>
    <div class="footgrid">
        <div>
            <h4 class="foottitle">About</h4>
            <p class="foottext">We curate quality pieces for everyday living. Fast shipping and easy returns</p>
        </div>
        <div>
            <h4 class="foottitle">Help</h4>
            <ul class="footlinks">
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms</a></li>
            </ul>
        </div>
        <div>
            <h4 class="foottitle">Follow</h4>
            <ul class="footlinks">
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </div>
</footer>
<div class="footerbottom">
    <span>© 2025 Shop. All rights reserved.</span>
</div>